<div class="row">
    <div class="col-md-4 offset-md-4 mt-10">
                <h1 class="text-center"> Create a task </h1>
                <form action="/tasks/create" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title </label>
                        <input type="text" class="form-control" id="title" placeholder="title" name="title" autofocus required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-block btn-dark"> Añadir </button>
            </form>

    </div>
</div>
